<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <h1 class="intro-lead-in h1">SNSを使って<br>簡単募集しよう</h1>
      <div class="intro-heading">Topic BoardはSNSで簡単に募集することができるサービスです。</div>
        <div class="intro-button">
          <%= link_to '今すぐ始める', new_topic_path, class: "btn btn-xl" %>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="features-icons bg-2 text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-g-3">
          <div class="features-icons-icon">
            <i class="far fa-comment" style="font-size: 80px;"></i>
          </div>
          <h3>SNSで簡単募集</h3>
          <p class="lead mb-0">SNS常にあなたの募集情報を投稿して<br>もっと手軽に人を集めましょう。</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon">
            <i class="far fa-image" style="font-size: 80px;"></i>
          </div>
          <h3>シェア画像も自動生成</h3>
          <p class="lead mb-0">募集タイトルと詳細を入力するだけで<br>SNS用の画像を作ってくれます。</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon">
            <i class="far fa-envelope" style="font-size: 80px;"></i>
          </div>
          <h3>無駄なやり取りなし</h3>
          <p class="lead mb-0">気に入った人にだけ返事をするので、<br>無駄なやりとりは発生しません。</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer bg-2">
  <div class="container text-center">
    <span class="text-muted">©️ y-k</span>
  </div>
</footer>
